p {
    color: rgba(95, 67, 61, 0.69);
    font-size: 27px;
    font-weight: 300;
    font-family: sans-serif;
    border: 3px black solid;
    padding: 19px;
    margin-right: 20px;
}

.P {

   background-image: URL({FOREST.jpg);
}
