p {
    color: rgba(95, 67, 61, 0.69);
    font-size: 27px;
    font-weight: 300;
    font-family: sans-serif;
    border: 3px black solid;
    padding: 19px;
    margin-right: 20px;
}

#mainpara {
    background-image: URL("3.jpg");
    background-repeat: no-repeat;
    background-size:cover;

    color: rgba(199, 199, 29, 0.98);
}
